*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img{
    max-width: 100%;
}

.detailLogo{
    width: 20%;
    cursor: pointer;
}

.detailLogo img{
    width: 30%;
}

.fruitsRow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
