*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.bgHome{
    background-image: url(/public/images/background.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    height: 90vh;
    
}

.htext{
    font-size: 4rem;
    margin-top: 5%;
    text-align: center;
}